<!DOCTYPE html>
<html>

<head>
    <title>Test</title>
</head>

<body>
    <h1>Zapisovanim do text area se zapisují data do souboru na disku</h1>
    <textarea rows="4" cols="50">Zapisuj text</textarea>
    <script>
        const electron = require('electron');
        const { ipcRenderer } = electron;

        document.querySelector('textarea').addEventListener('input', (event) => {
            event.preventDefault();
            const { value } = document.querySelector('textarea');

            ipcRenderer.send("view-data", value);
        });
    </script>
</body>

</html>